header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .nome-site{
        display: flex;
        align-items: center;
        font-weight: bolder;
        p {
            font-size: 24px;
            font-weight: 700;
            color: #FEFEFE;
            margin-left: 12px;
        }
    }

    .nav-span{
        font-size: 12px;
        font-weight: 500;
        margin-right: 28px;
        padding: 12px;
        border-radius: 8px;
        letter-spacing: .1;
        color: rgb(255, 255, 255);
        font-weight: bold;
        transition-duration: 1s;
        &:hover, &::after{
            color: black;
            background-color: rgba($color: #FEFEFE, $alpha: 1.0);
        }
    }
}