<div class="accordion-container">
    <div class="accordion-title outro">
        <button #button (click)="show_hide_content()" class="button-title">
            {{data.Nome}} - Quantidade: 
            <span style="color: rgb(181, 0, 0);">{{data.QTD}}</span>
        </button>
    </div>
    <div #content class="accordion-content">
        <div class="accordion-content-column">
            <p class="property">Tipo de Coleção: <span class="value">{{data.Tipo}}</span></p>
            <p class="property">Pessoa para contato: <span class="value">{{data.PessoaContato}}</span></p>
            <p class="property">Telefone: <span class="value">{{data.Telefone}}</span></p>
            <p class="property">Endereço: <span class="value">{{data.Endereco}}</span></p>
            <p class="property">Descrição: <span class="value">{{data.Descricao}}</span></p>
    </div>
</div>