/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    background-color: #FEFEFE;

    button{
        border: none;
        background-color: transparent;
    }
}

.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;

    .accordion-title{
        width: 60%;
        height: 60px;
        border: 2px solid rgb(55, 55, 55);
        border-bottom: 0 !important;
        border-radius: 8px 8px 0 0;

        .button-title {
            font-size: 20px;
            font-weight: 500;
            width: 100%;
            height: 100%;
            outline: 0;
            background-color: transparent;
            border: none;
            &:focus{
                border: 0px;
            }
        }
    }

    .accordion-content{
        width: 60%;
        max-height: 0;
        overflow: hidden;
        border: 2px solid rgb(55, 55, 55);
        border-top: 0 !important;
        border-radius: 0 0 8px 8px;
        transition: all 0.3s;
        text-align: center;
        

        display: flex;
        justify-content: space-around;

        &-column{
            width: 100%;
            height: 100%;
            margin: 12px;
            display: flex;
        }

        .property {
            padding: 4px;
            font-size: 14px;
            font-weight: 400;
            margin: auto;
            text-align: left;
            text-transform: uppercase;

            .value{
                display: block;
                text-transform: initial;
                font-weight:bolder;
                text-decoration: underline;
                color: rgb(0, 0, 0);
            }
        }

    }


}

.jogo{
    background-color: rgb(0, 0, 0) !important;
}

.qtd{
    margin-bottom: 18px;
    text-align: center;
    
    font-weight: 500;
}