<div class="flex-center">

  <div class="graphic-container">
    <ngx-charts-bar-vertical
    [results]="resultJogosMov"
    [xAxis]="true"
    [yAxis]="true"
    [showGridLines]="false"
    [yAxisLabel]="'Quantidade de Movimentos'"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Cod. Jogo'"
    [showXAxisLabel]="true"
    [legend]="false"
    >
    </ngx-charts-bar-vertical>
  </div>

  <!-- <div class="graphic-container">
    <ngx-charts-bar-vertical-stacked
    [results]="resultsDate"
    [xAxis]="true"
    [yAxis]="true"
    [showGridLines]="false"
    [yAxisLabel]="'Custo'"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Objetos Arte'"
    [showXAxisLabel]="true"
    [legend]="true"
    [legendTitle]="'Ano-Mês'"
    >
    </ngx-charts-bar-vertical-stacked>
  </div>
  
  <div class="graphic-container">
    <ngx-charts-line-chart
    [results]="results2"
    [xAxis]="true"
    [yAxis]="true"
    [showGridLines]="false"
    [yAxisLabel]="'Quantidade de Obejtos Arte'"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Coleções'"
    [showXAxisLabel]="true"
    [legend]="true"
    [legendTitle]="'Empréstimos'"
    >
    </ngx-charts-line-chart>
  </div> -->
</div>
