<form *ngIf="type==='objeto'" [formGroup]="forms">
    <section class="filters">
      <div class="container-filter">   
        <label for="arbitro">Hotel: </label>
        <input type="text" id="year" formControlName="AnoCriacao">
      </div>
      <div class="container-filter">
        <label for="arbitro">Jogador: </label>
        <input type="text" id="year" formControlName="AnoCriacao">
      </div>
      <div class="container-filter">
        <label for="arbitro">Arbitro: </label>
        <input type="text" id="year" formControlName="AnoCriacao">
      </div>
      <i class="fa-thin fa-magnifying-glass"></i>
      <button class="buscar" (click)="filter(this.forms.value)">BUSCAR</button>
    </section>
</form>